#bbp-attachment-upload,
.bbp-attachment-toggle-active span {
	display: none;
}
#bbp-attachment-toggle-wrap {
	text-align: right;
}
#bbp-attachment-toggle{
	cursor: pointer;
	display: inline-block;
	padding:15px 3px 6px;
	
}
#bbp-attachment-toggle:hover {
	color: #7f54b3;
}

.bbp-attachment-toggle-active {
	border-radius: 5px;
	border: 1px solid #000;
		font-weight: 700;
	
	width:40px;
	text-align:center;

	background-color: #000;

	padding-top:10px !important;
}

.bbp-attachment-toggle-active:before {

	content: '\2715 ';
	color:#fff;

}

.palebg {
	background: #f7f7f7;
}
.d4p-attachment-addfile{
	margin-top: 20px;
	margin-bottom: 20px;
	display: block;
}

.bbp-attachments-form a {
	color: #006eb0;
	text-decoration: none;
}

.bbp-attachments .d4p-bbp-attachment {
		margin: 36px 18px;
}



@media screen and (max-width: 480px) {


	.fp-page__main .bbp-attachments ol{
		padding:0;
	}
	.bbp-attachments .d4p-bbp-attachment {
			text-align: center;
	}


	.d4p-attachment-remove {
		margin:10px 0 0;
		display: block;
	}
}


.bbp-attachments,
.bbp-attachments-errors {
	border-top: 1px solid #dddddd;
	margin-top: 10px;
	padding: 10px 0;
	overflow: auto;
}

#bbpress-forums .bbp-attachments h6,
#bbpress-forums .bbp-attachments-errors h6 {
	margin: 0 0 5px !important;
	font-size: 1.2em;
	font-weight: bold;
	line-height: 1.4em;
}
#bbpress-forums .bbp-attachments ol,
#bbpress-forums .bbp-attachments-errors ol {
	margin: 0 !important;
	list-style: decimal inside none;
	overflow: auto;
}
#bbpress-forums .bbp-attachments li:last-child,
#bbpress-forums .bbp-attachments-errors li:last-child {
	margin: 0 !important;
}
#bbpress-forums .bbp-attachments-errors li {
	line-height: 16px;
	margin: 0 0 8px !important;
}
#bbpress-forums .bbp-attachments ol li {
	line-height: 16px;
	height: 16px;
	margin: 0 0 8px !important;
}
#bbpress-forums .bbp-attachments ol li a {
	text-decoration: none;
}
#bbpress-forums .bbp-attachments ol li.bbp-atthumb {
	padding: 0;
	height: auto;
}
#bbpress-forums .bbp-attachments ol li.bbp-atthumb .wp-caption {
	padding: 5px;
	margin: 0;
	height: auto;
}
#bbpress-forums .bbp-attachments ol li.bbp-atthumb .wp-caption p.wp-caption-text {
	margin: 5px 0 !important;
	word-wrap: break-word;
	line-height: 1.3em;
}
#bbpress-forums .bbp-attachments ol li.bbp-atthumb .wp-caption img {
	margin: 0;
}
#bbpress-forums .bbp-attachments ol li a img {
	display: block;
}
